body {
	background-color: #80DB64;
}

.img-responsive {
	max-height: 30vh;
	min-width: 50vw;
	min-height: 25vh;
}

.jumbotron {
	background-color: #B7F9A2;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 0;
}

.btn-group {
	padding-top: 10px;
}

.form-group {
	width: 300px;
}

#welcome {
	margin-bottom: -15px;
	display: block;
	text-align: center;
	font-family: 'Niconne', cursive;
	font-size: 35px;
	color: black;
	text-transform: capitalize;
	letter-spacing: 0.1em;
}

.content {
	padding: 5px 10px 25px;
	margin: 0 auto;
	background-color: rgba(111, 103, 93, 0.72);
	position: relative;
	max-width: 1050px;
	max-height: 81vh;
	color: #CDF6BF;
	border-radius: 20px;
	font-size: 18px;
}

.button {
	background-color: #FFF200;
	border-radius: 20%;
	color: black;
}

.bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}