body {
	background-color: #8b9e99;
}

.img-responsive {
	max-height: 30vh;
	min-width: 50vw;
	min-height: 25vh;
}

.jumbotron {
	background-color: #f4f7f6;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 0;
}

.btn-group {
	padding-top: 10px;
}

.form-group {
	width: 300px;
}

