body {
	background-color: #8b9e99;
}

.img-responsive {
	max-height: 30vh;
	min-width: 50vw;
	min-height: 25vh;
}

.jumbotron {
	background-color: #f4f7f6;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 0;
	background: rgba(0,0,0,1);
	z-index: 1;
}


.affix {
	top: 0;
	width: 100%;
}

.btn-group {
	padding-top: 10px;
}

.form-group {
	width: 300px;
}

img {
	max-width: 100%;
}

.bottom {
	color: black;
}

.events {
	padding-top: 20px;
	font-size: 1.8em;
}

.events-list{
	text-decoration: underline;
	font-size: 38px;
}

.event-pics {
	padding-top: 20px;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}

h4 {
	font-weight: bold;
}