body {
	background-color: #80DB64;
}

.head {
	height: 32vh;
	background-color: #B7F9A2;
}

#logo {
	width: 800px;
	margin: 0 auto;
}

#logo-L {
	padding-right: 15px;
}
.navbar {
	margin-bottom: 0;
}

.container-fluid {
	background-color: #343538;
}

.navbar-brand {
	margin-top: -15px;
	
}

#welcome {
	margin-bottom: -15px;
	display: block;
	text-align: center;
	font-family: 'Niconne', cursive;
	font-size: 35px;
	color: black;
	text-transform: capitalize;
	letter-spacing: 0.1em;
}

.content {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	background-color: rgba(111, 103, 93, 0.72);
	position: relative;
	width: 550px;
	height: 81vh;
	color: #CDF6BF;
	border-radius: 10%;
	font-size: 18px;
}

.button {
	background-color: #FFF200;
	border-radius: 20%;
	color: black;
}

.bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}